.detail-section-title {
  font-weight: 800;
  text-transform: uppercase;
}

.day-section-container {
  border-bottom: 1px solid var(--outline-dark);
  width: 100%;
}

.day-rating-icon::before {
  border-radius: 50%;
  box-shadow: 0 0 5px var(--primary-dark);
  cursor: pointer;
}

.rating-description {
  font-weight: 700;
}

.song-image-container {
  height: 55px;
  width: 55px;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-dark);
  cursor: pointer
}

.song-image-container.no-link {
  cursor: default;
}

.song-of-the-day-title {
  text-transform: uppercase;
  font-weight: 500;
}

.song-of-the-day-artist {
  font-size: smaller;
}

.song-play-button {
  font-size: 2rem;
}

.edit-day-button {
  border: 1px solid var(--primary-dark);
  text-transform: uppercase;
  font-weight: 500;
}

.edit-day-button:hover {
  background-color: var(--tertiary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}
