.detail-section-title {
  font-weight: 700;
  text-transform: uppercase;
}

.day-section-container {
  border-bottom: 1px solid var(--outline-dark);
}

.day-rating-icon::before {
  border-radius: 50%;
  box-shadow: 0 0 5px var(--primary-dark);
  cursor: pointer;
}

.rating-description {
  font-weight: 700;
}

.song-image-container {
  height: 60px;
  width: 60px;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-dark);
  cursor: pointer
}

.song-of-the-day-title {
  font-weight: 600;
  text-transform: uppercase;
}

.song-play-button {
  font-size: 2.5rem;
}

.edit-day-button {
  border: 1px solid var(--primary-dark);
  text-transform: uppercase;
  font-weight: 500;
}

.edit-day-button:hover {
  background-color: var(--tertiary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}