.app {
  background-color: var(--background-dark);
}

.main {
  width: 100%;
  align-self: center;
  overflow: hidden;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}