.app {
  background-color: var(--background-dark);
}

.app-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 85%;
  align-self: center;
}
