@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text-dark: #16181d;
  --background-dark: #ebecef;
  --primary-dark: #373c48;
  --secondary-dark: #b4a6ba;
  --tertiary-dark: #dbdde4;
  --accent-dark: #ad6ba3;
  --outline-dark: rgba(22, 24, 29, 0.3);
  --overlay-dark: rgba(0, 0, 0, 0.5);

  --color-f: #000000;
  --color-d: #ff0000;
  --color-c: #ff8800;
  --color-b: #ffe600;
  --color-a: #b3ff00;
  --color-s: #00ff00;

  --hover-brightness: 1.2;
}

html {
  position: relative;
  min-height: 100%;
  border: none;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea::-webkit-scrollbar {
  width: 1rem;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--outline-dark);
  border-radius: 0.25rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  cursor: default;
  border-radius: 0.25rem;
}