@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text-dark: #e2e4e9;
  --background-dark: #0f1013;
  --primary-dark: #b6bbc7;
  --secondary-dark: #534559;
  --tertiary-dark: #16171b;
  --accent-dark: #9d8199;
  --outline-dark: rgba(182, 187, 199, 0.3);

  --text-light: #16181d;
  --background-light: #ebecef;
  --primary-light: #373c48;
  --secondary-light: #b4a6ba;
  --accent-light: #7f627a;

  --color-f: #ca0000;
  --color-d: #ff4800;
  --color-c: #e98400;
  --color-b: #ffd51b;
  --color-a: #9dff00;
  --color-s: #00f300;

  --hover-brightness: 1.3;
}

html {
  position: relative;
  min-height: 100%;
  border: none;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}