@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --text: #e2e4e9;
  --background: #0f1013;
  --primary: #b6bbc7;
  --secondary: #534559;
  --accent: #9d8199;
}

html {
  position: relative;
  min-height: 100%;
  border: none;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
}