.user-icon-container {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(182, 187, 199, 0.5);
  max-width: fit-content;
  cursor: pointer;
  align-self:flex-end;
}

.user-modal-container {
  top: 120%;
  white-space: nowrap;
  border-radius: 0.25rem;
}

.dropdown-section {
  border-radius: 0.25rem;
}

.dropdown-section.clickable {
  cursor: pointer;
}