.user-icon-container {
  border-radius: 50%;
  box-shadow: 0px 0px 5px var(--primary-dark);
  max-width: fit-content;
  cursor: pointer;
  align-self:flex-end;
}

.user-modal-container {
  top: 120%;
  white-space: nowrap;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-dark);
}

.dropdown-section {
  border-radius: 0.25rem;
}

.dropdown-section.clickable {
  cursor: pointer;
}