.mood-option {
  cursor: pointer;
  border-radius: 1rem;
}

.mood-option.selected {
  background-color: var(--tertiary-dark);
  outline: 2px solid var(--primary-dark);
}

.mood-option:hover {
  background-color: var(--tertiary-dark);
}

.mood-option-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 5px var(--outline-dark);
}

.mood-option-label {
  font-weight: 600;
}