.mood-select-container {
  min-height: 100px;
}

.mood-option {
  border-radius: 1rem;
  cursor: default;
}

.mood-option.editable {
  cursor: pointer;
}

.mood-option-button {
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 5px var(--primary-dark);
}

.mood-option.mood-option.not-editable.selected {
  outline: none;
  background-color: var(--background-dark);
}

.mood-option .mood-option-button {
  width: 20px;
  height: 20px;
}

.mood-option.selected .mood-option-button {
  width: 60px;
  height: 60px;
}

.mood-option-label {
  font-weight: 600;
}