.month-calendar {
  border-radius: 3rem;
  box-shadow: 0px 5px 5px var(--primary-dark);
  width: fit-content;
  cursor: default;
}

.month-full-name {
  font-weight: bold;
  text-transform: uppercase;
}

.day-cell-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.day-cell-container.current-month {
  cursor: pointer;
}

.day-cell-container.other-month {
  cursor: default;
}

.day-cell-container.selected {
  outline: 2px solid var(--primary-dark);
}

.weekday-label {
  font-weight: 700;
  text-transform: uppercase;
}

.day-grid {
  display: grid;
}

.weekday-row,
.week-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid var(--outline-dark);
}

@media (width < 768px) {
  .weekday-label {
    font-size: 15px;
  }

  .weekday-cell {
    padding: 0 0.1rem;
  }
}