.month-calendar {
  border-radius: 3rem;
  background-color: var(--tertiary-dark);
  box-shadow: 0px 5px 5px var(--outline-dark);
}

.month-full-name {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-dark);
}

.day-cell-container {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.day-cell-container:hover {
  filter: brightness(1.3);
}

.day-cell-container.today {
  outline: 2px solid var(--primary-dark);
}

.month-year {
  color: var(--primary-dark);
}

.weekday-label {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--accent-dark);
}

.day-grid {
  display: grid;
}

.weekday-row,
.week-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid var(--outline-dark);
}