.mood-card {
  width: 130px;
  height: 130px;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px black;
}

.mood-card-icon {
  width: 100%;
  height: 40px;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px var(--primary-dark);
}

.mood-card-percentage {
  font-weight: 800;
}

.mood-card-count {
  font-size: smaller;
}

@media (width < 768px) {
  .mood-card {
    width: 114px;
    height: 114px;
  }

  .mood-card-icon {
    height: 30px;
  }

  .mood-card-count {
    font-size: 10.5px;
  }
}