.mood-card {
  width: 130px;
  height: 130px;
  border-radius: 2rem;
  box-shadow: 0 5px 10px black;
}

.mood-card-icon {
  width: 100%;
  height: 40px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 5px 10px var(--primary-dark);
}

.mood-card-percentage {
  font-weight: 800;
}