.day-cell .date {
  font-weight: 400;
}

.day-cell-container.today .date {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.mood-indicator {
  position: absolute;
  font-size: 0.75rem;
  top: 7%;
  right: 12%;
}

.mood-indicator i::before {
  border-radius: 50%;
  box-shadow: 0 2px 5px var(--primary-dark);
  outline: none;
}

.date.color-secondary {
  opacity: 0.7;
}

@media (width < 768px) {
  .mood-indicator {
    font-size: 0.6rem;
  }

  .mood-indicator i::before {
    box-shadow: 0 2px 5px var(--primary-dark);
  }
}