.day-cell .date {
  font-weight: 300;
}

.day-cell-container.today .date {
  color: var(--accent-dark);
}

.mood-indicator {
  position: absolute;
  top: 5%;
  right: 5%;
}

.mood-indicator i::before {
  border-radius: 50%;
}