.day-cell .date {
  font-weight: 300;
}

.day-cell-container.today .date {
  color: var(--accent-dark);
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.mood-indicator {
  position: absolute;
  font-size: smaller;
  top: 7%;
  right: 10%;
}

.mood-indicator i::before {
  border-radius: 50%;
  box-shadow: 0 0 5px var(--accent-dark);
}

.date.color-secondary {
  opacity: 0.7;
}