.embla {
  --slide-spacing: 1rem;
  width: fit-content;
  max-width: 480px;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 auto;
  padding-left: var(--slide-spacing);
}

.embla__dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0 2px 5px var(--primary-dark);
  cursor: pointer;
}

.embla__dot--selected {
  background-color: var(--primary-dark);
}

.embla__next,
.embla__prev {
  cursor: pointer;
  box-shadow: 0 2px 5px var(--primary-dark);
}

.line {
  height: 100%;
  border-right: 1px solid var(--outline-dark);
  color: var(--background-dark);
}