.navbar {
  background-color: var(--background-dark);
  border-bottom: 1px solid var(--outline-dark);
}

.navbar-icon {
  color: var(--primary-dark);
}

.navbar-title {
  color: var(--text-dark);
  text-transform: uppercase;
  font-weight: bold;
}