.navbar {
  background-color: var(--background);
  box-shadow: 0px 0px 10px rgba(182, 187, 199, 0.2);
}

.navbar-icon {
  color: var(--primary);
}

.navbar-title {
  color: var(--text);
  text-transform: uppercase;
  font-weight: bold;
}